<div class="container-fluid">
  <div class="card-hover-shadow-2x mb-3 card" style="padding:10px">
    <div class="card-header-tab card-header">
      <div class="card-header-title font-size-sm text-capitalize font-weight-bold">
        <i class="header-icon lnr-lighter icon-gradient bg-amy-crisp"> </i>
        Sponsored
      </div>
    </div>
    <div class="scroll-area-lg" style="height:400px;">
        <!-- perfect-scrollbar [autoPropagation]="true">
           
        </perfect-scrollbar -->
    </div>
  </div>
</div>

